<script>
  window.onload = () => {
    statosioLoadingTime = {};
    statosioLoadingTime['to'] = window.performance.timing.domContentLoadedEventEnd;
    statosioLoadingTime['from'] = window.performance.timing.navigationStart;
    statosioLoadingTime['time'] = statosioLoadingTime['to'] - statosioLoadingTime['from'];
    console.log( 'Page load time was ' + statosioLoadingTime['time'] + ' ms' );
    total = document.getElementsByTagName( '*' ).length;

    [
      [ 'statosioStatus', 'loading..', 'Ready!' ],
      [ 'statosioLoadingTime', 'waiting..', statosioLoadingTime['time'] + ' ms.' ],
      [ 'statosioDomElements', 'waiting..', total + ' Elements.' ]
    ].forEach( ( d )  => {
      element =  document.getElementById( d[ 0 ] );
      if( typeof( element ) != 'undefined' && element != null ) {
        str = element.innerText;
        str = str.replace( d[ 1 ], d[ 2 ] );
        element.innerText = str;
      }
    } )
  }
</script>
<script src="../libs/d3.js"></script> 
<script src="../libs/statosio.js"></script>
<script id='statosio_file'> 
var file = [
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "1",
    "sort": "1",
    "s": "x",
    "rank_ww_-_rank_intern": "9",
    "rank_ww": "95583",
    "rank_de__-_rank_intern": "10",
    "rank_de": "4208",
    "avg._visit_duration": "00:05:06",
    "rank_-_pages_per_visitor__-_rank_intern": "4",
    "rank_-_pages_per_visitor": "5.85",
    "requests_per_month": "114,721,200",
    "request_costs_per_month": "103.25€",
    "link": "LINK",
    "rank_ww_1": "50589",
    "rank_de_1": "2315",
    "visitors_per_month": "637,340",
    "visit_duration": "00:06:11",
    "pages_per_visitor": "6.89",
    "bounce_rate": "35.04",
    "link_1": "LINK",
    "rank_ww_2": "89987",
    "rank_de_2": "3785",
    "visit_duration_(daily)": "00:04:00",
    "pages_per_visitor_(daily)": "4.80",
    "bounce_rate_1": "25.6",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "50",
    "mobile": "25",
    "link_4": "https://tools.pingdom.com/#5cb78ded1c400000",
    "grade": "C",
    "pingdom_performance": "75",
    "requests": "180",
    "loading_time_(ms)": "1080",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "carmine"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "2",
    "sort": "2",
    "s": null,
    "rank_ww_-_rank_intern": "5",
    "rank_ww": "13379",
    "rank_de__-_rank_intern": "5",
    "rank_de": "421",
    "avg._visit_duration": "00:03:54",
    "rank_-_pages_per_visitor__-_rank_intern": "5",
    "rank_-_pages_per_visitor": "5.26",
    "requests_per_month": "292,810,000",
    "request_costs_per_month": "263.53€",
    "link": "LINK",
    "rank_ww_1": "6180",
    "rank_de_1": "251",
    "visitors_per_month": "6,230,000",
    "visit_duration": "00:03:29",
    "pages_per_visitor": "5.92",
    "bounce_rate": "41.09",
    "link_1": "LINK",
    "rank_ww_2": "14398",
    "rank_de_2": "340",
    "visit_duration_(daily)": "00:04:18",
    "pages_per_visitor_(daily)": "4.60",
    "bounce_rate_1": "22.5",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "87",
    "mobile": "51",
    "link_4": "https://tools.pingdom.com/#5cb78e2537800000",
    "grade": "A",
    "pingdom_performance": "91",
    "requests": "47",
    "loading_time_(ms)": "652",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "green"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "3",
    "sort": "3",
    "s": null,
    "rank_ww_-_rank_intern": "1",
    "rank_ww": "92",
    "rank_de__-_rank_intern": "1",
    "rank_de": "7",
    "avg._visit_duration": "00:06:36",
    "rank_-_pages_per_visitor__-_rank_intern": "3",
    "rank_-_pages_per_visitor": "7.75",
    "requests_per_month": "116,472,330,000",
    "request_costs_per_month": "104,825.10€",
    "link": "LINK",
    "rank_ww_1": "43",
    "rank_de_1": "5",
    "visitors_per_month": "479,310,000",
    "visit_duration": "00:07:00",
    "pages_per_visitor": "9.33",
    "bounce_rate": "32.92",
    "link_1": "LINK",
    "rank_ww_2": "97",
    "rank_de_2": "4",
    "visit_duration_(daily)": "00:06:12",
    "pages_per_visitor_(daily)": "6.17",
    "bounce_rate_1": "29.9",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "78",
    "mobile": "49",
    "link_4": "https://tools.pingdom.com/#5cb78e3111c00000",
    "grade": "B",
    "pingdom_performance": "86",
    "requests": "243",
    "loading_time_(ms)": "1140",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "harlequin"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "4",
    "sort": "4",
    "s": null,
    "rank_ww_-_rank_intern": "10",
    "rank_ww": "189175",
    "rank_de__-_rank_intern": "9",
    "rank_de": "3513",
    "avg._visit_duration": "00:07:13",
    "rank_-_pages_per_visitor__-_rank_intern": "1",
    "rank_-_pages_per_visitor": "16.02",
    "requests_per_month": "16,167,320",
    "request_costs_per_month": "14.55€",
    "link": "LINK",
    "rank_ww_1": "50833",
    "rank_de_1": "2342",
    "visitors_per_month": "310,910",
    "visit_duration": "00:12:11",
    "pages_per_visitor": "30.03",
    "bounce_rate": "31.65",
    "link_1": "LINK",
    "rank_ww_2": "276683",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "00:02:15",
    "pages_per_visitor_(daily)": "2.00",
    "bounce_rate_1": "51.8",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "60",
    "mobile": "7",
    "link_4": "https://tools.pingdom.com/#5cb78e79df400000",
    "grade": "A",
    "pingdom_performance": "98",
    "requests": "52",
    "loading_time_(ms)": "2160",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "violet"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "5",
    "sort": "5",
    "s": null,
    "rank_ww_-_rank_intern": "17",
    "rank_ww": "3450000",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "2300000",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "1.00",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "35",
    "mobile": "11",
    "link_4": "https://tools.pingdom.com/#5cb78e8426400000",
    "grade": "D",
    "pingdom_performance": "66",
    "requests": "152",
    "loading_time_(ms)": "1830",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "pear"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "6",
    "sort": "6",
    "s": null,
    "rank_ww_-_rank_intern": "n/a",
    "rank_ww": "n/a",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "n/a",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "n/a",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "n/a",
    "mobile": "n/a",
    "link_4": "https://tools.pingdom.com/#5cb78edb79800000",
    "grade": "A",
    "pingdom_performance": "100",
    "requests": "1",
    "loading_time_(ms)": "40",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "amaranth"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "7",
    "sort": "7",
    "s": null,
    "rank_ww_-_rank_intern": "7",
    "rank_ww": "18186",
    "rank_de__-_rank_intern": "7",
    "rank_de": "552",
    "avg._visit_duration": "00:02:52",
    "rank_-_pages_per_visitor__-_rank_intern": "12",
    "rank_-_pages_per_visitor": "3.07",
    "requests_per_month": "514,180,000",
    "request_costs_per_month": "462.76€",
    "link": "LINK",
    "rank_ww_1": "9253",
    "rank_de_1": "368",
    "visitors_per_month": "5,470,000",
    "visit_duration": "00:01:34",
    "pages_per_visitor": "3.33",
    "bounce_rate": "60.84",
    "link_1": "LINK",
    "rank_ww_2": "17865",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "00:04:09",
    "pages_per_visitor_(daily)": "2.80",
    "bounce_rate_1": "39.1",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "77",
    "mobile": "24",
    "link_4": "https://tools.pingdom.com/#5cb78efa8f000000",
    "grade": "D",
    "pingdom_performance": "67",
    "requests": "94",
    "loading_time_(ms)": "1440",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "orange"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "8",
    "sort": "8",
    "s": null,
    "rank_ww_-_rank_intern": "14",
    "rank_ww": "971858",
    "rank_de__-_rank_intern": "12",
    "rank_de": "12914",
    "avg._visit_duration": "#VALUE!",
    "rank_-_pages_per_visitor__-_rank_intern": "14",
    "rank_-_pages_per_visitor": "1.90",
    "requests_per_month": "24,155,460",
    "request_costs_per_month": "21.74€",
    "link": "LINK",
    "rank_ww_1": "168315",
    "rank_de_1": "8609",
    "visitors_per_month": "211,890",
    "visit_duration": "00:04:10",
    "pages_per_visitor": "2.79",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "1607085",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "1.00",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "45",
    "mobile": "13",
    "link_4": "https://tools.pingdom.com/#5cb78f7cc2c00000",
    "grade": "C",
    "pingdom_performance": "72",
    "requests": "114",
    "loading_time_(ms)": "3430",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "silver"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "9",
    "sort": "9",
    "s": null,
    "rank_ww_-_rank_intern": "n/a",
    "rank_ww": "n/a",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "n/a",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "n/a",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "82",
    "mobile": "41",
    "link_4": "https://tools.pingdom.com/#5cb78fed8e000000",
    "grade": "C",
    "pingdom_performance": "80",
    "requests": "54",
    "loading_time_(ms)": "1760",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "indigo"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "10",
    "sort": "10",
    "s": "x",
    "rank_ww_-_rank_intern": "8",
    "rank_ww": "59481",
    "rank_de__-_rank_intern": "8",
    "rank_de": "2416",
    "avg._visit_duration": "00:04:31",
    "rank_-_pages_per_visitor__-_rank_intern": "6",
    "rank_-_pages_per_visitor": "4.83",
    "requests_per_month": "56,100,000",
    "request_costs_per_month": "50.49€",
    "link": "LINK",
    "rank_ww_1": "38236",
    "rank_de_1": "1704",
    "visitors_per_month": "1,020,000",
    "visit_duration": "00:05:11",
    "pages_per_visitor": "5.16",
    "bounce_rate": "42.28",
    "link_1": "LINK",
    "rank_ww_2": "42490",
    "rank_de_2": "1424",
    "visit_duration_(daily)": "00:03:50",
    "pages_per_visitor_(daily)": "4.50",
    "bounce_rate_1": "23.9",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "97",
    "mobile": "48",
    "link_4": "https://tools.pingdom.com/#5cb7901772000000",
    "grade": "D",
    "pingdom_performance": "63",
    "requests": "55",
    "loading_time_(ms)": "962",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "burgundy"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "11",
    "sort": "11",
    "s": null,
    "rank_ww_-_rank_intern": "6",
    "rank_ww": "16637",
    "rank_de__-_rank_intern": "6",
    "rank_de": "487",
    "avg._visit_duration": "00:06:29",
    "rank_-_pages_per_visitor__-_rank_intern": "7",
    "rank_-_pages_per_visitor": "4.80",
    "requests_per_month": "1,121,750,000",
    "request_costs_per_month": "1,009.58€",
    "link": "LINK",
    "rank_ww_1": "6114",
    "rank_de_1": "249",
    "visitors_per_month": "6,410,000",
    "visit_duration": "00:09:03",
    "pages_per_visitor": "5.70",
    "bounce_rate": "47.53",
    "link_1": "LINK",
    "rank_ww_2": "21046",
    "rank_de_2": "475",
    "visit_duration_(daily)": "00:03:55",
    "pages_per_visitor_(daily)": "3.90",
    "bounce_rate_1": "44.8",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "60",
    "mobile": "11",
    "link_4": "https://tools.pingdom.com/#5cb7907990800000",
    "grade": "C",
    "pingdom_performance": "72",
    "requests": "175",
    "loading_time_(ms)": "2130",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "maroon"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "12",
    "sort": "12",
    "s": null,
    "rank_ww_-_rank_intern": "15",
    "rank_ww": "2061059",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "1374039",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "00:04:48",
    "pages_per_visitor_(daily)": "10.00",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "89",
    "mobile": "48",
    "link_4": "https://tools.pingdom.com/#5cb790a458400000",
    "grade": "C",
    "pingdom_performance": "73",
    "requests": "73",
    "loading_time_(ms)": "2000",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "fuchsia"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "13",
    "sort": "13",
    "s": null,
    "rank_ww_-_rank_intern": "12",
    "rank_ww": "421376",
    "rank_de__-_rank_intern": "13",
    "rank_de": "13961",
    "avg._visit_duration": "00:03:06",
    "rank_-_pages_per_visitor__-_rank_intern": "13",
    "rank_-_pages_per_visitor": "2.11",
    "requests_per_month": "30,901,090",
    "request_costs_per_month": "27.81€",
    "link": "LINK",
    "rank_ww_1": "177482",
    "rank_de_1": "9307",
    "visitors_per_month": "222,310",
    "visit_duration": "00:03:14",
    "pages_per_visitor": "2.22",
    "bounce_rate": "40.95",
    "link_1": "LINK",
    "rank_ww_2": "487788",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "00:02:58",
    "pages_per_visitor_(daily)": "2.00",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "39",
    "mobile": "33",
    "link_4": "https://tools.pingdom.com/#5cb7912d55400000",
    "grade": "C",
    "pingdom_performance": "80",
    "requests": "139",
    "loading_time_(ms)": "1040",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "orchid"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "14",
    "sort": "14",
    "s": null,
    "rank_ww_-_rank_intern": "n/a",
    "rank_ww": "n/a",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "n/a",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "n/a",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "64",
    "mobile": "47",
    "link_4": "https://tools.pingdom.com/#5cb79150e8000000",
    "grade": "C",
    "pingdom_performance": "72",
    "requests": "75",
    "loading_time_(ms)": "590",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "coffee"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "15",
    "sort": "15",
    "s": null,
    "rank_ww_-_rank_intern": "n/a",
    "rank_ww": "n/a",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "n/a",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "n/a",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "n/a",
    "mobile": "n/a",
    "link_4": "https://tools.pingdom.com/#5cb791bc7f800000",
    "grade": "B",
    "pingdom_performance": "89",
    "requests": "25",
    "loading_time_(ms)": "1910",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "chocolate"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "16",
    "sort": "16",
    "s": null,
    "rank_ww_-_rank_intern": "16",
    "rank_ww": "3155408",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "2103605",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "1.00",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "45",
    "mobile": "30",
    "link_4": "https://tools.pingdom.com/#5cb791de73c00000",
    "grade": "D",
    "pingdom_performance": "66",
    "requests": "136",
    "loading_time_(ms)": "2420",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "aquamarine"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "17",
    "sort": "17",
    "s": null,
    "rank_ww_-_rank_intern": "2",
    "rank_ww": "2880",
    "rank_de__-_rank_intern": "2",
    "rank_de": "101",
    "avg._visit_duration": "00:05:34",
    "rank_-_pages_per_visitor__-_rank_intern": "8",
    "rank_-_pages_per_visitor": "4.33",
    "requests_per_month": "3,641,400,000",
    "request_costs_per_month": "3,277.26€",
    "link": "LINK",
    "rank_ww_1": "1369",
    "rank_de_1": "59",
    "visitors_per_month": "28,900,000",
    "visit_duration": "00:04:43",
    "pages_per_visitor": "4.46",
    "bounce_rate": "46.34",
    "link_1": "LINK",
    "rank_ww_2": "3022",
    "rank_de_2": "83",
    "visit_duration_(daily)": "00:06:25",
    "pages_per_visitor_(daily)": "4.20",
    "bounce_rate_1": "36",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "50",
    "mobile": "17",
    "link_4": "https://tools.pingdom.com/#5cb7920ce3c00000",
    "grade": "C",
    "pingdom_performance": "80",
    "requests": "126",
    "loading_time_(ms)": "864",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "copper"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "18",
    "sort": "18",
    "s": null,
    "rank_ww_-_rank_intern": "n/a",
    "rank_ww": "n/a",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "n/a",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "n/a",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "41",
    "mobile": "26",
    "link_4": "https://tools.pingdom.com/#5cb7923cfb000000",
    "grade": "D",
    "pingdom_performance": "67",
    "requests": "84",
    "loading_time_(ms)": "998",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "jade"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "19",
    "sort": "19",
    "s": null,
    "rank_ww_-_rank_intern": "4",
    "rank_ww": "6711",
    "rank_de__-_rank_intern": "4",
    "rank_de": "218",
    "avg._visit_duration": "00:03:41",
    "rank_-_pages_per_visitor__-_rank_intern": "9",
    "rank_-_pages_per_visitor": "4.23",
    "requests_per_month": "1,794,930,000",
    "request_costs_per_month": "1,615.44€",
    "link": "LINK",
    "rank_ww_1": "3253",
    "rank_de_1": "145",
    "visitors_per_month": "12,730,000",
    "visit_duration": "00:03:23",
    "pages_per_visitor": "4.76",
    "bounce_rate": "54.67",
    "link_1": "LINK",
    "rank_ww_2": "6915",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "00:03:58",
    "pages_per_visitor_(daily)": "3.70",
    "bounce_rate_1": "38.8",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "63",
    "mobile": "10",
    "link_4": "https://tools.pingdom.com/#5cb7925f2d800000",
    "grade": "C",
    "pingdom_performance": "77",
    "requests": "141",
    "loading_time_(ms)": "1290",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "turquoise"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "20",
    "sort": "20",
    "s": null,
    "rank_ww_-_rank_intern": "13",
    "rank_ww": "506117",
    "rank_de__-_rank_intern": "14",
    "rank_de": "21101",
    "avg._visit_duration": "00:01:36",
    "rank_-_pages_per_visitor__-_rank_intern": "11",
    "rank_-_pages_per_visitor": "3.59",
    "requests_per_month": "13,671,540",
    "request_costs_per_month": "12.30€",
    "link": "LINK",
    "rank_ww_1": "250237",
    "rank_de_1": "14067",
    "visitors_per_month": "90,540",
    "visit_duration": "00:01:45",
    "pages_per_visitor": "5.17",
    "bounce_rate": "67.76",
    "link_1": "LINK",
    "rank_ww_2": "511760",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "00:01:27",
    "pages_per_visitor_(daily)": "2",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "55",
    "mobile": "14",
    "link_4": "https://tools.pingdom.com/#5cb792a43a800000",
    "grade": "C",
    "pingdom_performance": "79",
    "requests": "151",
    "loading_time_(ms)": "1530",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "coral"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "21",
    "sort": "21",
    "s": null,
    "rank_ww_-_rank_intern": "n/a",
    "rank_ww": "n/a",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "n/a",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "n/a",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "70",
    "mobile": "51",
    "link_4": "https://tools.pingdom.com/#5cb792c3a3c00000",
    "grade": "B",
    "pingdom_performance": "84",
    "requests": "126",
    "loading_time_(ms)": "752",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "pink"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "22",
    "sort": "22",
    "s": null,
    "rank_ww_-_rank_intern": "n/a",
    "rank_ww": "n/a",
    "rank_de__-_rank_intern": "n/a",
    "rank_de": "n/a",
    "avg._visit_duration": "n/a",
    "rank_-_pages_per_visitor__-_rank_intern": "n/a",
    "rank_-_pages_per_visitor": "n/a",
    "requests_per_month": "n/a",
    "request_costs_per_month": null,
    "link": "LINK",
    "rank_ww_1": "n/a",
    "rank_de_1": "n/a",
    "visitors_per_month": "n/a",
    "visit_duration": "n/a",
    "pages_per_visitor": "n/a",
    "bounce_rate": "n/a",
    "link_1": "LINK",
    "rank_ww_2": "n/a",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "n/a",
    "pages_per_visitor_(daily)": "n/a",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "69",
    "mobile": "42",
    "link_4": "https://tools.pingdom.com/#5cb792e503800000",
    "grade": "B",
    "pingdom_performance": "83",
    "requests": "84",
    "loading_time_(ms)": "1200",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "periwinkle"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "23",
    "sort": "23",
    "s": null,
    "rank_ww_-_rank_intern": "11",
    "rank_ww": "350323",
    "rank_de__-_rank_intern": "11",
    "rank_de": "6723",
    "avg._visit_duration": "00:02:11",
    "rank_-_pages_per_visitor__-_rank_intern": "10",
    "rank_-_pages_per_visitor": "3.95",
    "requests_per_month": "26,028,150",
    "request_costs_per_month": "23.43€",
    "link": "LINK",
    "rank_ww_1": "90141",
    "rank_de_1": "4482",
    "visitors_per_month": "356,550",
    "visit_duration": "00:02:07",
    "pages_per_visitor": "4.89",
    "bounce_rate": "43.43",
    "link_1": "LINK",
    "rank_ww_2": "520364",
    "rank_de_2": "n/a",
    "visit_duration_(daily)": "00:02:14",
    "pages_per_visitor_(daily)": "3.00",
    "bounce_rate_1": "n/a",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "74",
    "mobile": "46",
    "link_4": "https://tools.pingdom.com/#5cb7934284400000",
    "grade": "B",
    "pingdom_performance": "88",
    "requests": "73",
    "loading_time_(ms)": "624",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "cerise"
  },
  {
    "rank_-_pages_per_visitor_-_average": "5.40",
    "loading_time_(ms)_-_average": "1358.21",
    "google_insight_desktop_-_average": "62.68",
    "google_insight_mobile_-_average": "30.27",
    "pingdom_performance_-_average": "78.79",
    "pingdom_requests": "103.50",
    "nr": "24",
    "sort": "24",
    "s": null,
    "rank_ww_-_rank_intern": "3",
    "rank_ww": "3105",
    "rank_de__-_rank_intern": "3",
    "rank_de": "111",
    "avg._visit_duration": "00:06:08",
    "rank_-_pages_per_visitor__-_rank_intern": "2",
    "rank_-_pages_per_visitor": "7.91",
    "requests_per_month": "1,789,200,000",
    "request_costs_per_month": "1,610.28€",
    "link": "LINK",
    "rank_ww_1": "1280",
    "rank_de_1": "52",
    "visitors_per_month": "21,300,000",
    "visit_duration": "00:06:50",
    "pages_per_visitor": "9.81",
    "bounce_rate": "39.11",
    "link_1": "LINK",
    "rank_ww_2": "3649",
    "rank_de_2": "117",
    "visit_duration_(daily)": "00:05:25",
    "pages_per_visitor_(daily)": "6.00",
    "bounce_rate_1": "25.6",
    "link_2": "LINK",
    "link_3": "LINK",
    "desktop": "49",
    "mobile": "22",
    "link_4": "https://tools.pingdom.com/#5cb7937ec1400000",
    "grade": "B",
    "pingdom_performance": "83",
    "requests": "84",
    "loading_time_(ms)": "755",
    "link_5": "LINK",
    "link_6": "LINK",
    "link_7": "LINK",
    "name": "sky"
  }
]
</script>